#principal {
    min-width: 31.25rem;
    max-width: 37.50rem;
    background-color: white;
}

body {
    background-image: url("../img/clima.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
    display: flex;
}